    <div class="contents-container">
      <form class="input-form" action="/videos" method="post" >
        <label class="form-label" for="title">Title</label>
        <input id="title-input" name="title" type="text" value="{{title}}">
        <span>{{error}}</span>

        <label class="form-label" for="description">Description</label>
        <textarea id="description-input" name="description">{{description}}</textarea>

        <button id="submit-button" type="submit">
          <p>Save a video</p>
        </button>
      </form>
    </div>
