    <div class="contents-container" id="videos-container">
{{#each videos as |video|}}
<div class="video-card">
 <div class="video-title">
   {{video.title}}
 </div>
 <div class="video-description">
   {{video.description}}
 </div>
 <iframe class="video-player" src="{{video.url}}" frameborder="0" allowfullscreen></iframe>
</div>
{{/each}}
    </div>
    <div id="navigation">
      <a href="videos/create.html">
        <div class="add-video-button">
          <p>Add a Video</p>
        </div>
      </a>
    </div>
